# Steps

## 1. [Import the Libraries](#1.-Import-the-libraries)
## 2. [Load the data](#2.-Load-the-Data)
## 3. [Preprocessing](#3.-Preprocessing-the-Data)
- 3.1 [OneHotEncoding](#3.1-OneHotEncoding-with-LabelEncoder)
- 3.2 [Standard Scaling](#3.2-Standard-Scaling)
## 4. [Data preparation](#4.-Data-Preparation)
## 5. [Model training](#5.-Model-Training)
## 6. [Model Evaluation](#6.-Mean-Average-Precision)
- 6.1 [MAP@3 Score](#6.1-Model-Score)
## [Submission](#Submit-the-test-data-prediction)

## 1. Import the libraries

[üîù Return to top](#Steps)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from xgboost import XGBClassifier, plot_importance
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import average_precision_score
import warnings
warnings.filterwarnings('ignore')

## 2. Load the Data

[üîù Return to top](#Steps)

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
train_data.set_index('id', inplace = True)
test_data.set_index('id', inplace = True)

## 3. Preprocessing the Data

[üîù Return to top](#Steps)

In [3]:
numerical_columns = [ col for col in train_data.columns if train_data[col].dtype != 'O']
#['Temparature', 'Humidity', 'Moisture', 'Nitrogen', 'Potassium', 'Phosphorous']
categorical_columns = [col for col in train_data.columns if train_data[col].dtype == 'object']
#['Soil Type', 'Crop Type', 'Fertilizer Name']

In [4]:
numerical_columns

['Temparature', 'Humidity', 'Moisture', 'Nitrogen', 'Potassium', 'Phosphorous']

In [5]:
train_data.iloc[:1]

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
id,,,,,,,,,
0,37,70,36,Clayey,Sugarcane,36,4,5,28-28

### 3.1 OneHotEncoding with LabelEncoder

[üîù Return to top](#Steps)

In [13]:
labeler = LabelEncoder()
test_data['Fertilizer Name'] = 'z' # added column so that LabelEncoder can recognize while inverse_transform
for col_name in categorical_columns:
    test_data[col_name] = labeler.fit_transform(test_data[col_name])
    train_data[col_name] = labeler.fit_transform(train_data[col_name])

### 3.2 Standard Scaling

[üîù Return to top](#Steps)

# Decreases the accuracy
scaler = StandardScaler()

for col_name in numerical_columns:
    train_data[col_name] = scaler.fit_transform(train_data[[col_name]])
    test_data[col_name] = scaler.fit_transform(test_data[[col_name]])

## 4. Data Preparation

[üîù Return to top](#Steps)

In [7]:
X = train_data.drop(['Fertilizer Name'], axis = 1)
y = train_data['Fertilizer Name']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## 5. Model Training

[üîù Return to top](#Steps)

In [8]:
model = XGBClassifier(
    n_estimators=200,
    learning_rate=0.05,
    max_depth=6,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    use_label_encoder=False,
    eval_metric='mlogloss'
)

model.fit(X_train, y_train)

y_pred_proba = model.predict_proba(X_test)

## 6. Mean Average Precision

[üîù Return to top](#Steps)

In [9]:
# MAP@3
def mapk(y_test, y_pred_proba,k =3):
    top3_indices = np.argsort(y_pred_proba, axis = 1)[:, ::-1][ : ,:3]
    sum_ap = 0

    for indx, lst in enumerate(top3_indices):
        true_label = y_test.iloc[indx]
        '''
        if true_label in lst:
            ap = 1 / (list(lst).index(true_label) + 1)  
        else:
            ap = 0
        '''
                    # OR
        
        try:
            ap = 1 / (list(lst).index(true_label) + 1)
        except ValueError:
            ap = 0

        sum_ap += ap

    return (sum_ap / len(y_test))

### 6.1 Model Score

In [10]:
mapk(y_test, y_pred_proba)

0.32288555555562565

## Submit the test data prediction

[üîù Return to top](#Steps)

In [11]:
model = XGBClassifier(
    n_estimators=200,
    learning_rate=0.05,
    max_depth=6,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    use_label_encoder=False,
    eval_metric='mlogloss'
)

model.fit(X,y)

probs = model.predict_proba(test_data.drop(['Fertilizer Name'], axis =1))
top3_indices = np.argsort(probs , axis = 1)[ : , ::-1][:,:3]
top3_labels = labeler.inverse_transform(top3_indices.ravel()).reshape(top3_indices.shape)

pred_top3 = [' '.join(row) for row in top3_labels]

In [12]:
submission = pd.DataFrame({
    "id" : test_data.index,
    "Fertilizer Name" : pred_top3
})

submission.to_csv("submission.csv", index = False) 
submission.head()

       id             Fertilizer Name
0  750000          DAP 28-28 14-35-14
1  750001     17-17-17 20-20 10-26-26
2  750002     20-20 14-35-14 10-26-26
3  750003  14-35-14 17-17-17 10-26-26
4  750004     20-20 10-26-26 17-17-17